{% block main %}
    <div style="display:flex;justify-content:space-between;padding:10px;box-shadow:10px,5px">
        <div>
        </div>
        <form action="/result" class="form-inline" style="display:flex;justify-content:space-around;width:fit-content">
            <input type="search" name="q" class="form-control" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0"  type="submit">Search</button>
        </form>
    </div>
        

{% endblock %}